body {
    background: #f4f4f4;
    text-align: center;
}
header {
    margin:0;
    background-color: rgb(211, 179, 137);
    height: 200px;
}

.round_perfil img {
    float: left;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 50px;
    
}
.text_profile {
    float: right;
    height: 200px;
    width: 70%;
    margin-top: 50px;
    margin-right: 50px;
}
.photos {
    width: 968px;
    margin: auto;
 display: float
 
}
.card {
    max-width: 250px;
    height: 150px;
    padding: 2%;
    background: rgb(233, 192, 238);
    margin: 100px;
   
}
.card p {
    font-size: Arial, 12px;
    color: #000000
}
.card img {
    width: 250px;
    height: 100px;

}
a{
    text-decoration: none;
}
h1{
    color: black;
    font-family: 'Segoe UI', sans-serif;
    font-size:14px;
}
h3{
    color: black;
    font-size: 12px;
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
}
ul{
    list-style-image: url(./Pictures/white-heart.png);
    font-size: 12px;

}
@media (min-width: 768px){
    h1{
        color: black;
        font-family: 'Segoe UI', sans-serif;
        font-size:20px;
    }
    h3{
        color: black;
        font-size: 16px;
        font-family: 'Segoe UI', sans-serif;
        text-align: center;
    }
    p {
        font-size: Arial, 18px;
        color: #000000
    }
    h1{
        color: blue;
        font-family: 'Segoe UI', sans-serif;
        font-size:24px 50%;
        
    }
    .round_perfil img {
        float: left;
        height: 130px;
        width: 130px;
        border-radius: 50%;
        margin-top: 20px;
        margin-left: 50px;
        
    }
    .card img {
        width: 350px;
        height: 200px;
    
    }
    .card {
        max-width: 350px;
        height: 250px;
        padding: 2%;
        background: rgb(233, 192, 238);
        margin: 100px;
       
    }
    ul{
        list-style-image: url(./Pictures/white-heart.png);
        font-size: 16px;
    
    }
}